<section id="signup">
    <form action="">
        <div class="signup-txt">
            <input type="text" placeholder="您的名字" class="signup-tel username">
            <input type="text" placeholder="您的密码" class="signup-code userpsd">
            <div class="acquire-code">
                <input type="text" placeholder="短信验证码" class="signup-tel-code verifycode">
                <a href="javasccript:;">免费获取验证码</a>
            </div>
        </div>
        <div class="signup-btn">
            <button class="login-btn accomplish">完成注册</button>
        </div>
    </form>
</section>