<section id="signup">
    <div class="signup-tab">
        <ul>
            <li class="signup-tab-item active"><a href="#id-login" class="id-login">普通登陆</a></li>
            <li class="signup-tab-item"><a href="#tel-login" class="tel-login">短信验证码登陆</a></li>
        </ul>
    </div>
    <div class="input-box">
        <div class="hint-meaasge">注册项不可为空，请重新注册</div>
        <form action="">
            <div class="signup-txt">
                <input type="text" placeholder="您的手机号" class="reg-tel">
            </div>
            <div class="signup-btn">
                <button class="login-btn" id="register">注册</button>
                <button><a href="#id-login" class="speediness">登陆</a></button>
            </div>
        </form>
    </div>
</section>
<section id="else-account">
    <div class="account-tit">
        <span>使用第三方账号登陆</span>
    </div>
    <div class="account-content">
        <div class="weibo">
            <a href="http://passport.mafengwo.cn/weibo">
                <i></i>
                微博登陆
            </a>
        </div>
        <div class="qq">
            <a href="http://passport.mafengwo.cn/qq">
                <i></i>
                QQ登陆
            </a>
        </div>
    </div>
</section>