
<form action="">
    <div class="signup-txt">
        <input type="text" placeholder="您的手机号" class="signup-tel">
        <input type="text" placeholder="验证码" class="signup-code">
        <div class="acquire-code">
            <input type="text" placeholder="短信验证码" class="signup-tel-code">
            <a href="javasccript:;">免费获取验证码</a>
        </div>
    </div>
    <div class="forget-psd"><a href="##">忘记密码？</a></div>
    <div class="signup-btn">
        <button class="login-btn">登陆</button>
        <button><a href="#reg-tel" class="speediness">快速注册</a></button>
    </div>
</form>